<div class="container">
    <form [formGroup]="loginForm">
        <h1>Login</h1>
        

        <label for="sort"><b>Sort</b></label>
        <input type="text" placeholder="Enter value" name="sort" id="sort" required formControlName="sort">
        <div *ngFor="let listItems of data">

            <p>{{listItems.sort}} </p>
        </div>
        
            

        <label for="psw"><b>filters</b></label>
        <input type="filters" placeholder="enter filters" name="filters" id="filters" required formControlName="filters" >
        <div *ngFor="let listItems of data">
          <p>{{listItems.filters}}</p>
        </div>
        
        <button type="submit" class="registerbtn" (click)="doLogin()">find</button>
    </form>
</div>

