
<table style="width:100%">
    <tr>
      <th>categery</th>
      <th>category_name_hyphen</th> 
      <th>dateTime</th>
      <th>id</th>
      <th>message</th>
      <th>price</th>
      <th>status</th>
      <th>stockName</th>
      <th>stockSignal</th>
      <th>stockSymbol</th>
      <th>stopLoss</th>
      <th>targetPrice</th>
      <th>tradingViewSymbol</th>
      <th>type</th>
    </tr>
    <tr>
      <td><div *ngFor="let listItems of data">

        <p>{{listItems.category}} </p>
    </div></td>

      <td><div *ngFor="let listItems of data">

        <p>{{listItems.category_name_hyphen}} </p>
    </div></td>

      <td><div *ngFor="let listItems of data">

        <p>{{listItems.dateTime}} </p>
    </div></td>

    <td><div *ngFor="let listItems of data">

        <p>{{listItems.id}} </p>
    </div></td>

    <td><div *ngFor="let listItems of data">

        <p>{{listItems.message}} </p>
    </div></td>

    <td><div *ngFor="let listItems of data">

        <p>{{listItems.price}} </p>
    </div></td>

    <td><div *ngFor="let listItems of data">

        <p>{{listItems.status}} </p>
    </div></td>

    <td><div *ngFor="let listItems of data">

        <p>{{listItems.stockName}} </p>
    </div></td>

    <td><div *ngFor="let listItems of data">

        <p>{{listItems.stockSignal}} </p>
    </div></td>
    <td><div *ngFor="let listItems of data">

        <p>{{listItems.stockSymbol}} </p>
    </div></td>
    <td><div *ngFor="let listItems of data">

        <p>{{listItems.stopLoss}} </p>
    </div></td>

    <td><div *ngFor="let listItems of data">

        <p>{{listItems.targetPrice}} </p>
    </div></td>

    <td><div *ngFor="let listItems of data">

        <p>{{listItems.tradingViewSymbol}} </p>
    </div></td>

    <td><div *ngFor="let listItems of data">

        <p>{{listItems.type}} </p>
    </div></td>

    </tr>
    
  </table>